Source: rngd-openrc
Section: misc
Priority: important
Maintainer: Uri Herrera <uri_herrera@nxos.org>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.2
Homepage: http://nxos.org


Package: rngd-openrc
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, openrc, rng-tools5
Conflicts: systemd, systemd-sysv
Description: Package to add rngd configuration for OpenRC.
 This package will add the boot scripts to use rngd
 with OpenRC in Nitrux.

